{{ define "main" }}
<div class="container">
  <article>
    <div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">
        Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "wordCount" . }}
        </span>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "minuteRead" . }}
        </span>
      </div>
      
		</div>
    {{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}
    <hr class="solid">
    <section class="body">
			{{ .Content }}
		</section>
    <div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
      <hr class="solid">
      <div class="title">
        <h2 class="title">Tags</h1>
      </div>
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
  </article>  
</div>
{{ end }}
